.content {
    padding: 16px;
  }
  
  .content > mat-card {
    width: 200px;
    
  }

  mat-card-title-group,mat-spinner{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  img {
   
    width: 50%;
  }
.card{
display:flex;
justify-content: center;
align-items: center;
padding: 10px;
border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 10px))
}

.form{
    display:flex;
    justify-content: right;
    padding-right: 50px;
    padding-top: 50px;
}
.price{
padding-top: 10px;
font-size: large;
}