mat-card {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
      
  }
  
  img {
    width: 45%;
    height: 45%;
  }
  
  button {
    margin: 5px;
  }